<h1>Log In</h1>

<div class="grid">
  <div></div>

  <div class="card">
    <div class="container button-center">
      <%= form_for(:session, url: login_path) do |f| %>

      <h3><%= f.label :user_name %></h3>
      <%= f.text_field :user_name %><br>

      <h3><%= f.label :password %></h3>
      <%= f.password_field :password, placeholder: "Password" %>
      <br><br>
      <%= f.submit "Enter", class: "button" %>
      <%= link_to "Create Account", new_admin_path, class: "button" %>
      <br>
    </div>
  </div>
  <div></div>
</div>
<% end %>
