<h1>U.A. Cohort Index</h1>

<div class="button-center">
  <%= link_to "Create New Cohort", new_admin_cohort_path(session[:user_id]), class: "button" %>
</div>
<br>

<table class="table-shade" align="center">
  <tr>
    <th>Cohort Name:</th>
    <th>View | Edit</th>
    <th>Delete</th>
    <% @cohort.each do |s| %>
      <tr id="cohort-<%=s.id%>">
        <td><%= s.name %></td>
        <td>
          <center>
            <%= link_to 'View', admin_cohort_path(session[:user_id], s)%>
            <center></td>
            <td>
              <center><%= link_to "Delete", admin_cohort_path(session[:user_id], s), remote: true, method: :delete, data: { confirm: 'Are you sure?'} %></center>
            </td>

          </tr>
        <% end %>
      </table>
