
<h1><%=@cohort.name%></h1>

<p>Start Date: <%=@cohort.start_date%></p>
<p>End Date: <%=@cohort.end_date%></p>
<p>Teacher: <%=@cohort.teacher.first_name%></p>
<p>Course: <%=@cohort.course.name%></p>

<p>Students: </p>
<ol>
  <%@cohort.students.each do |student|%>
  <li><%=student.hero_name%></li>
  <%end%>
</ol>
