
<h1><%=@cohort.name%></h1>

<p>Start Date: <%=@cohort.start_date%></p>
<p>End Date: <%=@cohort.end_date%></p>
<p>Teacher: <%=@cohort.teacher.first_name%></p>
<p>Course: <%=@cohort.course.name%></p>

<p>Students: </p>
<ol>
  <%@cohort.students.each do |student|%>
  <li><%=student.hero_name%></li>
  <%end%>
</ol>

<%= link_to "Home", root_path %>
<a href="/cohorts/<%=@cohort.id%>/edit">View</a>
<%= link_to "Delete", cohort_path(@cohort), remote: true, method: :delete, data: { confirm: 'Do you really want to delete this?'} %>
