
<h1><%=@cohort.name%></h1>

<p>Start Date: <%=@cohort.start_date%></p>
<p>End Date: <%=@cohort.end_date%></p>

<% teacher = @cohort.teacher %>
<% if teacher != nil %>
<p>Teacher: <%= teacher.first_name %> <%= teacher.last_name %></p>
<% else %>
<p>No teacher found!</p>
<% end %>

<% course = @cohort.course %>
<% if course != nil %>
<p>Course: <%=course.name%></p>
<% else %>
<p>No course found!</p>
<% end %>

<p>Students: </p>
<ol>
  <%@cohort.students.each do |student|%>
  <li><%=student.hero_name%></li>
  <%end%>
</ol>

<%= link_to "Home", root_path %>
<%= link_to 'Edit', edit_admin_cohort_path(session[:user_id])%>
