<h2>All U.A. Students</h2>

<table class="table-shade" align="center">
  <tr>
    <th>Profile Picture</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Hero Name</th>
    <th>Quirk</th>
    <th>Age</th>
    <th>Education</th>
    <th>View | Edit</th>
    <th>Delete</th>
  </tr>
  <% @student.each do |s| %>
    <tr id="student-<%=s.id%>">
      <td class="chip"><%= image_tag(s.avatar) if s.avatar.attached?%></td>
      <td><%= s.first_name %></td>
      <td><%= s.last_name %></td>
      <td><%= s.hero_name %></td>
      <td><%= s.quirk %></td>
      <td>
        <center><%= s.age %></center>
      </td>
      <td><%= s.education %></td>
      <td>
        <center>
          <%= link_to 'View', admin_student_path(session[:user_id], s)%>
        </center>
      </td>
      <td>
        <center><%= link_to "Delete", admin_student_path(session[:user_id], s), remote: true, method: :delete, data: { confirm: 'Are you sure?'} %></center>
      </td>
    </tr>
  <% end %>
</table>
