<h1>U.A. High School Student Registration</h1>

<div class="grid">
  <div></div>

  <div class="card">
    <div class="container">
      <%= form_for ([@admin, @student]) do |f| %>

      <h3><%= f.label :first_name %></h3>
      <%= f.text_field :first_name %><br>

      <h3><%= f.label :last_name %></h3>
      <%= f.text_field :last_name %><br>

      <h3><%= f.label :age %></h3>
      <%= f.number_field :age %><br>

      <h3><%= f.label :hero_name %></h3>
      <%= f.text_field :hero_name %><br>

      <h3><%= f.label :quirk %></h3>
      <%= f.text_field :quirk %><br>

      <h3><%= f.label :education %></h3>
      <%= f.select :education, ["", "Highschool Diploma", "Bachlor Degree", "Master's Degree", "Ph.D"]%><br>

      <h3><%= f.label :profile_picture %></h3>
      <%= f.file_field :avatar, direct_upload: true %><br>
      <br><br>
      <%= f.submit "Create Student", class: "button"%>
      <br><br>
    </div>
  </div>
  <div></div>
</div>

<% end %>
