<h1>U.A. Student Information</h1>

<div class="grid">
  <div></div>

  <div class="card">
    <center><%= image_tag(@student.avatar) if @student.avatar.attached?%></center>
    <div class="container">
      <h3>Student Name:</h3>
      <p><%=@student.first_name%>
        <%=@student.last_name%></p>
      <h3>Hero Name:</h3>
      <p><%=@student.hero_name%>
        <h3>Age:</h3>
        <p><%=@student.age%></p>
        <h3>Quirk:</h3>
        <p><%=@student.quirk%></p>
        <h3>Education:</h3>
        <p><%=@student.education%></p>
      </div>
      <div class="button-center">
        <%= link_to "Home", root_path, class: "button" %>
        <%= link_to 'Edit', edit_admin_student_path(session[:user_id]), class: "button" %>
      </div>
    </div>

    <div></div>
  </div>
