<h1>U.A. Student Information</h1>

<div class="grid">
  <div></div>

  <div class="card">
    <center><%= image_tag(@student.avatar) if @student.avatar.attached?%></center>
    <div class="container">
      <p><b>Student Name: </b><%=@student.first_name%> <%=@student.last_name%></p>
      <p><b>Hero Name: </b><%=@student.hero_name%>
        <p><b>Age: </b><%=@student.age%></p>
        <p><b>Quirk: </b><%=@student.quirk%></p>
        <p><b>Education: </b><%=@student.education%></p>
      </div>
    </div>

    <div></div>
</div>

<%= link_to "Home", root_path %>
<a href="/students/<%=@student.id%>/edit">Edit</a>
