<h1> Edit <%= @teacher.first_name %> <%= @teacher.last_name %> </h1>

<%= form_for ([@admin, @teacher]) do |f| %>

<p><%= f.label :first_name %></p>
<%= f.text_field :first_name %><br>

<p><%= f.label :last_name %></p>
<%= f.text_field :last_name %><br>

<p><%= f.label :age %></p>
<%= f.number_field :age %><br>

<p><%= f.label :salary %></p>
<%= f.number_field :salary %><br>

<p><%= f.label :hero_name %></p>
<%= f.text_field :hero_name %><br>

<p><%= f.label :quirk %></p>
<%= f.text_field :quirk %><br>

<p><%= f.label :education %></p>
<%= f.select :education, ["", "Highschool Diploma", "Bachlor Degree", "Master's Degree", "Ph.D"]%><br>

<h5><%= f.label :avatar %></h5>
<%= f.file_field :avatar, direct_upload: true %><br><br>


<%= f.submit "Submit" %>

<% end %>
