<h2>U.A. Teacher Index</h2>

  <table class="table-shade" align="center">
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Hero Name</th>
  <th>Quirk</th>
  <th>Age</th>
  <th>Salary</th>
  <th>Education</th>
  <th>View | Edit | Delete:</th>
  </tr>
  <% @teacher.each do |s| %>
    <tr>
      <td><%= s.first_name %></td>
      <td><%= s.last_name %></td>
      <td><%= s.hero_name %></td>
      <td><%= s.quirk %></td>
      <td><center><%= s.age %></center></td>
      <td><center>$<%= s.salary.floor %></center></td>
      <td><%= s.education %></td>
      <td><center><a href="/teachers/<%=s.id%>">View Teacher</a></center></td>
    </tr>
    <% end %>
</table>
