<h1>U.A. High School Teacher Registration</h1>

  <%= form_for (@teacher) do |f| %>

  <h5><%= f.label :first_name %></h5>
  <%= f.text_field :first_name %><br>

  <h5><%= f.label :last_name %></h5>
  <%= f.text_field :last_name %><br>

  <h5><%= f.label :age %></h5>
  <%= f.number_field :age %><br>

  <h5><%= f.label :salary %></h5>
  <%= f.number_field :salary %><br>

  <h5><%= f.label :hero_name %></h5>
  <%= f.text_field :hero_name %><br>

  <h5><%= f.label :quirk %></h5>
  <%= f.text_field :quirk %><br>

  <h5><%= f.label :education %></h5>
<%= f.select :education, ["", "Highschool Diploma", "Bachlor Degree", "Master's Degree", "Ph.D"]%><br>



<%= f.submit "Create Teacher" %>

<% end %>
