<h1>U.A. Teacher Information</h1>

<p>Teacher Name:
  <%=@teacher.first_name%>
  <%=@teacher.last_name%></p>
<p>Hero Name:
  <%=@teacher.hero_name%>
  <p>Age:
    <%=@teacher.age%></p>
  <p>Quirk:
    <%=@teacher.quirk%></p>
  <p>Education:
    <%=@teacher.education%></p>

  <%= link_to "Home", root_path %>
  <a href="/teachers/<%=@teacher.id%>/edit">View</a>
  <%= link_to "Delete", teacher_path(@teacher), remote: true, method: :delete, data: { confirm: 'Do you really want to delete this?'} %>
