<h1>U.A. Teacher Information</h1>

<div class="grid">
  <div></div>

  <div class="card">
    <center><%= image_tag(@teacher.avatar) if @teacher.avatar.attached?%></center>
    <div class="container">
<p><b>Teacher Name: </b><%=@teacher.first_name%>
  <%=@teacher.last_name%></p>
<p><b>Hero Name: </b>
  <%=@teacher.hero_name%>
  <p><b>Age: </b>
    <%=@teacher.age%></p>
  <p><b>Quirk: </b>
    <%=@teacher.quirk%></p>
  <p><b>Education: </b>
    <%=@teacher.education%></p>
  </div>
</div>

<div></div>
</div>

  <%= link_to "Home", root_path %>
  <%= link_to 'Edit', edit_admin_teacher_path(session[:user_id])%>
