<h1> Edit <%= @course.name %> </h1>
<%= form_for (@course) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :class_hours %>
  <%= f.text_field :class_hours %>

  <%= f.submit 'Submit'%>
<% end %>
